

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
  font-size: 17px;
  background-color: #F3D8A4
}

.dropdown-menu>li>a {
  line-height: 35px;
}

li {
  line-height: 35px;
}






